<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>keyServer</servlet-name>
    <servlet-class>org.sfnelson.bma.server.KeyServiceImpl</servlet-class>
  </servlet>
  
  <security-constraint>
    <web-resource-collection>
      <url-pattern>/bma/keyServer</url-pattern>
      <url-pattern>/</url-pattern>
      <url-pattern>/index.html</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>
  
  <servlet-mapping>
    <servlet-name>keyServer</servlet-name>
    <url-pattern>/bma/keyServer</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
